body {
  height: 100vh;
  background: black;
}

.header-conteiner h1 {
  text-align: center;
  font-size: 45px;
  font-family: Almendra;
  color: #ffd700;
  padding: 20px;
  background-color: black;
}

.nova-tarefa-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.nova-tarefa-input {
  width: 50%;
  font-size: 20px;
  font-family: Kalam;
  border: 2px solid #ffd700;
  background-color: #292929;
  color: #ffd700;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.nova-tarefa-input:focus {
  outline: none;
  border-color: #ffbf00;
}

.nova-tarefa-botao {
  border-radius: 5px;
  font-size: 20px;
  font-family: Almendra;
  height: 100%;
  border: none;
  background-color: #ffd700;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.tarefas-conteiner {
  border: 2px solid #ffd700;
  background-color: #292929;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  width: 60%;
  min-height: 200px;
  padding: 15px;
}

.item-tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: Kalam;
    color: #ffd700;
}

.item-tarefa i {
    background-color: #ffd700;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.item-tarefa i:hover {
    cursor: pointer;
}

/*Utilidades*/
.error {
    border: 2px solid red;
}

.error::placeholder {
    color: red;
}

.completed {
    text-decoration: line-through;
}